<%#= content_for(:page_heading) do %>
<!--<h1 class="text-3xl font-bold text-white">-->
<!--  Create New Course-->
<!--</h1>-->
<%# end %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.58.2/lib/codemirror.css">
<style>
    /*.CodeMirror { text-align: left!important; }*/
    /*.CodeMirror-line {*/
    /*    margin-left: 2.5rem*/
    /*}*/
</style>

<script src="https://cdn.jsdelivr.net/npm/codemirror@5.58.2/lib/codemirror.min.js"></script>
<script src="https://codemirror.net/addon/display/autorefresh.js"></script>


<%= render "form", course: @course %>

